@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --linear-grad: linear-gradient(to right, #182A79, #182A79);
  --pri-color: #1B78F2;
  --sec-color: #5C9DF2;
}

.container {
  height: 100vh;
  background: var(--pri-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;


  .form {
    background-color: #fff;
    border-radius: 6px;
    max-width: 530px;
    width: 100%;
    padding: 30px;
    /* position: absolute; */
  }



  header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }
}

form {
  margin-top: 30px;
}

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
}

.field input:focus {
  border-bottom-width: 2px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  background-color: var(--pri-color);
  color: #fff;
  transition: all .3s ease;
}

.field button:hover {
  background-color: var(--sec-color);
}

.form-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.check-box {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}

.form a {
  text-decoration: none;
  color: var(--sec-color);
}

.form-content a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background: #d4d4d4;
}

.line::before {
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 15px;
  color: #232836;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--pri-color); */
}

a.facebook {
  color: #fff;
  background-color: #4267b2;
}



a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  background-color: #fff;
  color: var(--pri-color);
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

a.google {

  border: 1px solid #cacaca;
}


a.google span {
  font-weight: 500;
  opacity: .6;
  color: #232836;
}


@media screen and (width <=400px) {
  .form {
    padding: 15px 10px;
  }
}